<li>
    <p>
        <% if((locals.user && locals.user.id == comment.user.id) || (locals.user && locals.user.id==post.user.id )){ %>
            <small>
                
                <a href="/comments/destroy/<%= comment.id%>">x</a>
            </small>
            <% } %>
        <span>
            <%= comment.user.name %> &nbsp;
        </span> 
        <%= comment.content %>
        
        
    </p>   
</li> 