
<header id="layout-header">
  
    <nav>
      <div class="mini-logo">
          <p>
              <a href='/'>
                  codeial
              </a>
          </p>
      </div>
  <div class="auth-links">
  <ul id="list-id">
<% if(locals.user) { %>
 <li><a href="/users/profile"><%=user.name%></a></li>
 <li><a href="/users/sign-out">SIGN OUT</a></li>
   <%} else {%>

    <li><a href="/users/sign-in">SIGN IN</a>
    </li>
    <li><a href="/users/sign-up">SIGN UP</a>
    </li>
  <% } %>
</ul>
</div>
</header>